.App {
  text-align: center;
  background-color: #282c34;
  height: 100vh;
  color: whitesmoke;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.layout{
  display: grid;
  text-align: center;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.orange{
  color: orangered;
}
.purple{
  color: mediumpurple;
}
.rating-box{
  margin-top: 30px;
  border: 1px solid whitesmoke;
}
.rating-box > .fa-star{
 cursor: pointer;
  font-size: 25px;
  padding: 5px;
}
